################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lesson_1/Debug
/Lesson_1/Lesson_1/Debug
/Lesson_1/.vs/Lesson_1/v15/Browse.VC.opendb
/Lesson_1/.vs/Lesson_1/v15/Browse.VC.db
/Lesson_1/.vs/Lesson_1/v15/ipch/AutoPCH
